ul {
    display: flex;
    list-style: none
    }
    
    li {
      margin-right: 15px;
    }
    
    a {
    padding: 8px 15px;
    color: #0800f6;
    text-decoration: underline;
    }
    
    li:hover a {
    background: #55eef3;
    justify-content: space-between;
    border-radius: 0px;
    
    }
    
    #home:hover {
    /* this changes the font color */
    color: rgb(247, 90, 255);
    /* this changes makes the font thicker or thinner */
    font-weight: bold;
    }
    
    .nav-item:hover a {
        /* this changes the font color */
        color: white;
        /* this changes makes the font thicker or thinner */
        font-weight: bold;
    }
    
    .dropdown-menu {
        background-color: rgb(236, 182, 255)!important;
        border-radius: 0px;
        --bs-dropdown-border-width: unset;
        
        
    }
    
    
    
    .dropdown:hover .dropdown-menu {
        display:block;
        
    }
    
    
    .dropdown-item:hover  {
        background: rgb(236, 182, 255);
    }
    
    .navbar{
        padding:0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        border-bottom: 3px solid rgb(255, 255, 255);
    }
    
    
    .bg-primary {
        background-color: rgb(236, 182, 255)!important;
        
    }
    
    .navbar-brand {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5px;
    }
    
    .mx-auto {
        margin-right: auto!important;
        margin-left: auto!important;
        padding-left: 11rem;
    }
    
    .navbar-text{
        display: grid;
        place-items:center;
        text-align: center;
        font-size: 1rem;
    }
    .nav-item {
        padding: 0% 0 0 0;
    } 
    
    .background {
        position: relative;
        background-color: rgb(76, 26, 123);
    }
    .background::before {
        content: "";
          background-image: url(../images/transparentrambus.jpg);
          background-size: cover;
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          opacity: 0.1;
    }    
    
    main {
        position: relative;
        background-color: #e7ecec;
        /* Display:grid;  */
        Place-items: center;
        max-width: 85vw;
        margin: auto;
        height: 100%;
        padding-bottom: 6rem;
    }

 